# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/
ENV/
env/
.venv/
.ENV/


# Ignore Mac system files
.DS_Store

# Ignore Google service account credentials
ttcan-rating-analysis-*.json